* {
	user-select: none;
}
body {
	background-color: black;
}
#grid {
	position: relative;
	left: 20px;
	top: 20px;
	overflow: hidden;
	background-color: #808080;
}
#tiles {
	position: relative;
	width: 1px;
	height: 1px;
	left: 0px;
	top: 0px;
}
#tiles.animate {
	-moz-transition-property: left, top;
	-moz-transition-duration: 0.7s, 0.7s;
	-moz-transition-delay: 0s, 0s;
	-moz-transition-timing-function: ease-out, ease-out;
	transition-property: left, top;
	transition-duration: 0.7s, 0.7s;
	transition-delay: 0s, 0s;
	transition-timing-function: ease-out, ease-out;
}
#tiles .tile {
	z-index: 1;
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;
}
#tiles .tile.selected {
	z-index: 100;
	border: 1px solid rgba(255, 168, 168, 0.8);
	box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 1);
}
#tiles .tile:hover {
	z-index: 100;
	border: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
}
#tiles .tile.new {
	z-index: 10;
	border: 2px solid yellow;
}

#tpf {
	position: absolute;
	top:0px;
	left:5px;
	color: rgb(255,255,255);
}

#color {
	position: absolute;
	top:0px;
	right:5px;
}

#color div {
	color: rgb(255,255,255);
}
